@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*, body {
  margin: 0;
  padding: 0;
  background: #34F7B1;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

#text-div {
  text-align: center;
}

h1 {
  color: #f7347a;
  font-size: 3rem;
}

#buttons {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.accent {
  color: #4F34F7;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.row {
  width: auto;
  height: auto;
}

.btn {
  height: 7rem;
  width: 7rem;
  border: 0.25rem solid #4F34F7;
  border-radius: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

#horse {
  background: url("./images/horse.jpg") no-repeat center;
	background-size: 300px;
}

#chicken {
  background: url("./images/chicken.jpg") no-repeat;
  background-position-x: -50px;
  background-position-y: -80px;
	background-size: 200px;
}

#sheep {
  background: url("./images/sheep.jpg") no-repeat;
  background-position-x: -25px;
  background-position-y: -25px;
	background-size: 150px;
}

#wolf {
  background: url("./images/wolf.jpg") no-repeat;
  background-position-x: -25px;
/*   background-position-y: -150px; */
	background-size: 175px;
}

#owl {
  background: url("./images/owl.jpg") no-repeat;
  background-position-x: -225px;
	background-position-y: -60px;
	background-size: 500px; 
}

#hedgehog {
  background: url("./images/hedgehog.jpg") no-repeat;
  background-position-x: -25px;
  background-position-y: -25px;
	background-size: 200px;
}

#cat {
  background: url("./images/cat.jpg") no-repeat center;
	background-size: 150px;
}

#dog {
  background: url("./images/dog.jpg") no-repeat center;
  background-position-y: -10px;
  background-position-x: -40px;
	background-size: 200px;
}

#pig {
  background: url("./images/pig.jpg") no-repeat center;
  background-position-x: -50px;
	background-size: 250px;
}
