@import "Helpers.scss";

.Chart {
  .line {
    fill: none;
    stroke: $main-color-2;
    stroke-width: 3;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .dot {
    fill: $main-color-2;
    stroke: #fff;
  }

  .focus circle {
    fill: none;
    stroke: steelblue;
  }
}
