// @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$main-color: #239b6f;
$main-color-2: #388267;
$alt-color: #ffd700;
$alt-color-2: #ffa500;
$black-color: #133337;
$white-color: #f0f8ff;
$main-font: "Raleway", sans-serif;
